/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Rancho);
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html, body {margin:0;padding:0;height:100%;}
   a {
    /*text-decoration: none;*/
    font-family: 'Rancho', cursive;
    color: #424242;
    font-size: 1.5em; 
}

.holder {
    background: url(../img/loading.gif) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: solid 10px #616161;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */    
    background: #FAFAFA;
}
.close {
    float: right;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.list {
    position: relative;
    width: 22%;
    height: 100%;
    overflow: hidden;
    background: #FAFAFA;
    z-index: 10;
}
.view {
    display: none;
    
}

/*close side-bar*/
.list-close .view {
    display: block;
    
}

.list-close .title {
    padding: 7px;
}

.list-close .list {
    position: absolute;
    width: auto !important;
    height: auto;
    top: 0;
    left: 0;
}
.list-close .sites {
    display: none;
}
.list-close .content {
    width: 100%;
}
.list-close .hid {
    display: none;
} 
.list-close .ln {
    position: relative;
    margin-top: 20px;
    left: 5px;
    width: 15px;
}
.list-close .mail {
    position: relative;
    margin-top: 20px;
    bottom: 0;
    left: 5px;
    width: 15px;
    padding: 0 10px;
    border: solid 2px #424242;
}

.list-close .close {
    float: none;
    margin-right: 0;
}
/*end close side-bar*/
.content {
    position: absolute;
    width: 78%;
    height: 100%;
    background: #F5F5F5;
    overflow: hidden;
    right: 0;
    bottom: 0;
}
.content iframe {
    position: relative;
    width: 100%;
    height: 100%;
}
#screen {
    /*display: none;*/
}

.title {
    color: #424242;
    margin: 0;
    padding: 5px 0 0 5px;
    font-family: 'Walter Turncoat', cursive;
}
.block {
    color: #FAFAFA;
    text-align: center;
}
.block h1 {
    font-size: 8em;
}
.sites {
    list-style-type: none;
    padding-left: 10px;
}
.mail {
    position: absolute;
    display: block;
    left: 10px;
    bottom: 10px;
    text-decoration: none;
     
}
.ln {
    position: absolute;
    display: block;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    border: solid 2px #424242;
    padding: 0 10px;
}
.active {
    color: coral;
}



@media only screen and (min-width: 40.063em) and (max-width: 64em) {
        .mobile .content {
        position: relative;
        width: 100%;
        height: 100%;
        background: #F5F5F5;
        overflow: auto;
        right: auto;
        bottom: auto;
    }
    .content {
        width: 60%;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    .list {
        width: 40%;
    }
    .block h1 {
    font-size: 4em;
    }
    .close {
        background: #424242;
        color: white;
        padding: 0 5px;
    }
     .list-close .close {
        padding: 0;
    }
    .mobile {
        border: none;
    }
    
 } 

 @media only screen and (orientation: landscape) and (max-width: 40em){
    .mobile .content {
        position: relative;
        width: 100%;
        height: 100%;
        background: #F5F5F5;
        overflow: auto;
        right: auto;
        bottom: auto;
    }
    .list {
        overflow: auto;
        width: 40% !important;
    }
    .list-close .close {
        padding: 0;
    }
    .close {
        background: #424242;
        color: white;
        padding: 0 5px;
    }
    .mail {
        position: relative;
        display: block;
        font-size: 1.5em !important;
        padding: 10px;
        left: 0;
    }
    .ln {
        width: 15px;
        left:  10px;
        position: relative;
    }
    .mobile {
        border: none;
    }
 }


@media only screen and (max-width: 40em) { 
    a {
        font-size: 1em !important; 
    }
    .mobile .content {
        position: relative;
        width: 100%;
        height: 100%;
        background: #F5F5F5;
        overflow: auto;
        right: auto;
        bottom: auto;
    }
    .content {
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    .list {
        width: 60%;
    }

    .mobile {
        border: none;
    }
    
    .close {
        background: #424242;
        color: white;
        padding: 0 5px;
    }
    .list-close .close {
        background: #424242;
        color: white;
        padding: 0;
    }
    .title {
        font-size: 1em;
    }
    .list-close .title {
        font-size: 2em;
    }
    .list-close .mail {
        font-size: 1.5em;
    }
    .mail {
        font-size: 1em;
    }

    .block h1 {
    font-size: 2.7em;
    }
} 
@media only screen and (min-width: 64.063em) {
        .ln:hover, .close:hover, .mail:hover {
    background: #424242;
    color: white;
}
.item:hover {
    color: coral;
}

 }




/* ==========================================================================
   Helper classes
   ========================================================================== */
.blue {color: #1766B0;}
/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
